html {
  font-family: 'MH';
  line-height: 160%;
}
body {
  margin: 0;
  padding: 0;
  background:  #002b36;
  color: #839496;
  font-size: larger;
}
a, a:hover, a:visited{
  color: #859900;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font: 100 72px 'MH';
  margin: 0 auto 20px auto;
}
h1 span {
  font-weight: 400;
}
input {
  display: block;
  margin: 0 auto;
  font-size: 40px;
  height: 60px;
  width: 90%;
  text-align: center;
  padding: 1%;
}
#xkcd{
   display: block;
  margin: 0 auto;
  font-size: 30px;
  height: 60px;
  width: 90%;
  text-align: center;
  padding: 1%;
}
#passphrase {
  font-size: 40px;
  margin-top: 50px;
  color:  #93a1a1;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  text-align: center;
}
#passphrase_select{
  font-size: larger;
  margin-bottom: 15px;
}
.select{
  font-size: large;
}
.description{
  font-size: larger;
}
.btn-generate{
    font-size: larger;
    height: 50px;
  }

button {
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 3px 20px;
  background-color: white;
  height: 34px;
  transition: all 0.2s ease;
  height: 80px;
  width: 200px;
  max-width: 400px;
}
button:hover {
  background-color: #859900;
  color: white;
}
button:active {
  background-color: #859900;
}

@media only screen and (max-width: 768px)
{
 
  .btn-generate{
    width: 100%;
    display: block;
    padding: 0;
    font-size: larger;
    height: 60px;
  }

  #passphrase_select
  {
    font-size: larger;
    height: 40px;
      width:100%;
      margin-top: 20px;
  }
  
  .description{
    font-size: small;
  }

  h1 {
  text-align: center;
  font: 50 35px 'MH';
  margin: 0 auto 10px auto;
}
h1 span {
  font-weight: 200;
}
}


p {
  margin: 20px 0;
}
table {
  width: 95%;
  max-width: 1024px;
  margin: 40px auto 40px auto;
  font-size: 90%;
}
table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 10px;
}
tr:nth-child(even) {
    background-color: #f6f6f6;
}
li {
  padding-bottom: 6px;
  padding-top: 6px;
}
.container {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
}
.header {
  text-align: center;
  margin-top: 10px;
}
.passphrase-label {
  margin: 0 auto 3px auto;
  font-size: 75%;
  color: #888;
  text-align: center;
}
.passphrase-options {
  margin-top: 1%;
  text-align: center;


code, .password {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}


